table {
    font-size: 10px;
}

.filterCells {
    background-color: #FFF3CD;
    text-transform: none;
}

.filterCells input[type='text'] {
    margin: 5px 0px;
}

.filterCells input[type='number'] {
    display: inline-block;
    box-sizing: border-box;
    padding: 5px;
    width: 100%;
}

.filterCells input[type='button'] {
    margin: 5px 0px 0px 0px;
    height: 25px;
    width: 100%;
    outline: none;
}

.discard {
    transition-duration: 0.2s;
    border: 1px solid #DC3545;
    color: #DC3545;
    background-color: white;
}

.discard:hover {
    color: white;
    border: 1px solid #DC3545;
    background-color: #DC3545;
}

.apply {
    border: none;
    transition-duration: 0.2s;
    color: white;
    background-color: #5CB85C;
}

.apply:hover {
    color: white;
    background-color: #449D44;
}


/* Table header cells */

.interactCell {
    color: black;
    transition-duration: 0.2s;
    cursor: pointer;
    background-color: #CFE2FF;
}

.interactCell:hover {
    color: white;
    background-color: #3D8BFD;
}

.interactCellAsc {
    background-color: #3D8BFD;
}

.interactCellAsc::after {
    content: "↓";
}

.interactCellDesc {
    background-color: slategray;
}

.interactCellDesc::after {
    content: "↑";
}

#lastUpdateCell {
    color: #495057;
    font-style: italic;
    font-weight: lighter;
    text-align: right;
    background-color: white;
    text-transform: none;
}

.littl {
    display: inline-block;
    margin: 1%;
    width: 31%;
    height: auto;
}

.applyFilter {
    background-color: lightgreen;
}