body {
    font-family: 'Segoe UI', sans-serif;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

table {
    margin-left: auto;
    margin-right: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
}

th,
td {
    border: 1px solid black;
}

table caption {
    font-size: 26px;
    margin: 20px 0;
    text-align: center;
}

table thead {
    background-color: #95A5A6;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

table tbody {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}

td {
    padding: 10px;
}


/* Filter header cells */

input[type='text'] {
    display: inline-block;
    margin-top: 0px;
    margin-left: 0px;
    box-sizing: border-box;
    width: 100%;
    border-width: 0px;
    border-radius: 0px;
    padding: 5px;
    margin: 0px;
}

.filterCells {
    background-color: khaki;
    text-transform: none;
}

.filterCells input[type='number'] {
    display: inline-block;
    box-sizing: border-box;
    padding: 5px;
}

.filterCells input[type='button'] {
    display: inline-block;
    box-sizing: border-box;
    padding: 5px;
    color: white;
    background-color: darkslategray;
    margin: 5%;
    width: 90%;
}


/* Table header cells */

.interactCell {
    background-color: violet;
}

.interactCell:hover {
    background-color: teal;
}

.interactCellAsc {
    background-color: springgreen;
}

.interactCellAsc::after {
    content: "↓";
}

.interactCellDesc {
    background-color: slategray;
}

.interactCellDesc::after {
    content: "↑";
}

#lastUpdateCell {
    color: lightgrey;
    font-style: italic;
    background-color: #95A5A6;
    text-transform: none;
}

.chart {
    display: inline-block;
    margin: 1%;
    width: 31%;
    height: auto;
}